<section class="mat-app-background grid-container">
  <mat-grid-list cols="1" rowHeight="2:1" gutterSize="2em">
    <mat-grid-tile colspan="1" rowspan="1">
      <img src="../../assets/images/eclipse.JPG">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <img src="../../assets/images/frozen.jpg">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <img src="../../assets/images/kpak.JPG">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <img src="../../assets/images/pine.jpg">
    </mat-grid-tile>
  </mat-grid-list>
</section>
