<div id="container">
  <h1 class="post-title highlighter">
    Blog Post Name
  </h1>
  <section class="post">
    <p>
      Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te.
    </p>
    <div class="img-container">
      <img src="../assets/images/pine.jpg">
    </div>
    <p>
      Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te. Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te
    </p>
    <p>
      Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te. Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te. Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te
    </p>
    <p>
      Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te. Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te. Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te
    </p>
    <p>
      Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te. Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cum cu iusto vocibus. Sit dolorem consectetuer te
    </p>
    <div class="img-container">
      <img src="../assets/images/frozen.jpg">
    </div>
    <p>
      Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur.
    </p>

    <ul class="next-buttons">
      <li class="split-buttons"> << Previous Post </li>
      <li class="split-buttons"> Next Post >> </li>
    </ul>

    <section class="comments post">
      <h3 class="highlighter comments-title">Comments</h3>
      <form>
        <div class="form-group">
          <label for="commenter">Name</label>
          <input type="text" name="commenter">
        </div>
        <div class="form-group">
          <label for="comment-body" name="comment">Comment:</label>
          <textarea type="text" class="form-control" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </section>
  </section>
</div>
