a {
  text-decoration: none;
  color: black;
}

a:hover {
 text-decoration: line-through;
}

ul {
  // padding: 0 30% 1%;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 3em;
}

.nav-item-container {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

.nav-item {
  margin-left: 1.3em;
  margin-right: 1.3em;
}

.nav-title {
  display: flex;
  align-items: flex-start;
  font-size: 3em;
  margin-right: 1.5em;
}
