a {
  text-decoration: none;
  color: black;
}

a:active, a:hover {
  font-weight: 600;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 3em;
}

.nav-item-container {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

.nav-item {
  margin-left: 1.3em;
  margin-right: 1.3em;
}

.nav-title {
  display: flex;
  align-items: flex-start;
  font-weight: 300;
  font-size: 2em;
  margin-right: 1.5em;
}

@media (max-width: 1000px) {
  .nav {
    margin-bottom: 1em;
  }
  .nav-title {
    font-size: 1.3em;
    margin-right: .5em;
  }
  .nav-item {
    font-size: .8em;
    margin-left: .5em;
    margin-right: .5em;
  }
  .nav-item-container {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
  }
}
