<ul class="nav" role="navigation">
  
  <li class="nav-title">
    Blog of Sorts
  </li>

  <section class="nav-item-container">
    <li class="nav-item">
      <a routerLink="">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/blog">
        Blog
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/photo">
        Photos
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/project">
        Projects
      </a>
    </li>
  </section>

</ul>
