<!-- <ul class="sub_nav">
  <li class="sub_nav_item">
    <a routerLink="/blog/new">
      New Post
    </a>
  </li>
  <li class="sub_nav_item">
    <a routerLink="/blog/all">
      See All
    </a>
  </li>
</ul> -->

<div class="feature_container">
  <div class="feature_words">
    <a routerLink="#">
      <h2 class="feature_title">I Trained For a Half Marathon <br> + It Made me a Better Developer</h2>
    </a>
    <p>
      Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur. Et pri dolore aliquando, ne delicata reprimique per. Porro noluisse signiferumque ad vel, cu iusto vocibus. Sit dolorem consectetuer te.
    </p>
  </div>
  <div class="feature_photo">
    <img src="../assets/images/pine.jpg">
  </div>
</div>

<div class="list_of_blog_posts_container">
  <div class="post_and_photo_container">
    <div class="post_photo">
      <img src="../assets/images/leaves.jpg">
    </div>
    <div class="post_words">
      <a routerLink="#">
        <h3 class="post_title">Three States in 6 Months</h3>
      </a>
      <p>
        Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur.
      </p>
    </div>
  </div>

  <div class="post_and_photo_container">
    <div class="post_photo">
      <img src="../assets/images/leaves.jpg">
    </div>
    <div class="post_words">
      <a routerLink="#">
        <h3 class="post_title">I Keep Learning That I have No Idea <br> What To Do With Myself</h3>
      </a>
      <p>
        Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur.
      </p>
    </div>
  </div>
  <div class="post_and_photo_container">
    <div class="post_photo">
      <img src="../assets/images/leaves.jpg">
    </div>
    <div class="post_words">
      <a routerLink="#">
        <h3 class="post_title">The Motto That May be Screwing Me Over <br> + Giving Me Adventures (all at once)</h3>
      </a>
      <p>
        Lorem ipsum dolor sit amet, postea volumus est at, ei quod tale eos. Quod meis explicari sit ad. Ei summo oportere theophrastus pri, et mel liber vitae suscipiantur.
      </p>
    </div>
  </div>
</div>
