<div>
  <div class="featured_container">
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Cabins
        </h2>
      </span>
      <img src="../assets/images/kpak.JPG">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Short Night
        </h2>
      </span>
      <img src="../assets/images/eclipse.JPG">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Fall
        </h2>
      </span>
      <img src="../assets/images/leaves.jpg">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Old Pines
        </h2>
      </span>
      <img src="../assets/images/pine.jpg">

    </div>
  </div>
</div>
