<div>
  <section class='emph'>
    Recent Things
  </section>

  <div class="featured_container">
    <div class="featured_item">
      <img src="../assets/images/kpak.JPG" class="feature_item">
    </div>
    <div class="featured_item">
      <img src="../assets/images/eclipse.JPG" class="feature_item">
    </div>
    <div class="featured_item">
      <img src="../assets/images/leaves.jpg" class="feature_item">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Featured Post
        </h2>
      </span>
      <img src="../assets/images/pine.jpg" class="feature_item">

    </div>
  </div>
  <!-- <app-grid></app-grid> -->
</div>
