<div>
  <div class="featured_container">
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Photos::Cabins
        </h2>
      </span>
      <img src="../assets/images/kpak.JPG">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Blog::Short Night
        </h2>
      </span>
      <img src="../assets/images/eclipse.JPG">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Photos::Fall
        </h2>
      </span>
      <img src="../assets/images/leaves.jpg">
    </div>
    <div class="featured_item">
      <span class="overlay">
        <h2>
          Projects::Filters
        </h2>
      </span>
      <a routerLink="project/:id">
        <img src="../assets/images/pine.jpg">
      </a>
    </div>
  </div>
</div>
